body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bento {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card img {
    object-fit: cover;
    height: 200px;
}

.highlight {
    background: #000;
    color: #fff;
}


body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .highlight {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #000000 !important;
}
